

    

<div class="formbody" style="padding: 10px;">
    <h2 style="color:blue">{{categoryService.formTitle}} </h2><hr>
    <form [formGroup]="categoryService.categoryForm" (ngSubmit)="onSubmit2()" class="mt-4">
        <div class="mb-2">

            <input type="hidden" class="form-control" id="id" formControlName="id">

            <label for="transactionTypeId" class="form-label">Transaction Type</label>
            <select id="transactionTypeId" class="form-select" formControlName="transactionTypeId">
                <option value="" disabled>Select Transaction Type</option>
                <option *ngFor="let transactionType of transactionTypeList" [value]="transactionType.id">
                    {{ transactionType.name }}
                </option>
            </select>
            <div *ngIf="categoryService.categoryForm.get('transactionTypeId')!.hasError('required')" class="text-danger">
                Transaction Type ID is required
            </div>
        </div>
    
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <div *ngIf="categoryService.categoryForm.get('name')!.hasError('required')" class="text-danger">
                Name is required
            </div>
        </div>
    
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" formControlName="description"></textarea>
        </div>
    
        <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-warning mt me-2" type="reset" (click)="onClose()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!categoryService.categoryForm.valid">{{categoryService.buttonName}}</button>
        </div>
    </form>
    
</div>
  